<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>SonsoArt</title>
  </head>
  <body>
    <!-- lo siguiente corresponde a la barra de navegacion -->
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-negro">
      <a class="navbar-brand" href="../index.html">
        <img src="../images/ImagotipoSonsoArt.png" alt="SonsoArt" width="30">
        SonsoArt
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="about.html">¿Quienes somos?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacto.html">Contacto</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Visión y Misión
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="../views/vision.html">Visión</a>
              <a class="dropdown-item" href="../views/mision.html">Misión</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </div>    
    </nav>
    <!--Banner principal -->
    <h1 class="bg-dark p-5 text-center text-white font-weight-bold">¿Quienes Somos?</h1>
    <div class="container text-center p-5">
      <!-- colocarle bordes redondeados y sombras -->
      <img src="../images/yo.JPG" alt="yo" width="700px">
      <h3 class="pt-5">Una pequeña parte de mi historia</h3>
      <div class="row my-5 text-center text-justify">
        <div class="col-sm-12 col-md-6">
          <p class="pt-5"><b>Naci el 2 de febrero del 1996 (Acuario)</b>Naci el 2 de febrero del 1996 (Acuario) en una familia humilde que vive por el sector de Maipú-Chile.</p>
          <p class="pt-5">Al ya tener conciencia de todo, siempre veía a mi madre pintando y me llamaba mucho la atención, en mi infancia fui muy tímido e introvertido, podía pasar horas jugando solo con plasticina, pedazos de madera que en mi mente se convertían en espadas y me sentía todo un caballero justiciero.</p>
          <p class="pt-5">Un día tome un pincel de los que ocupaba mi madre y con tempera que yo tenia guardada, intente dibujar un pingüino que estaba en una revista, no quedo muy bien, pero ese fue el comienzo de todo, al pasar los días ya empece a dibujar en papel, nunca le dije a mi madre que me enseñara, solo aprendi copiando imágenes de revistas, haciendo retratos.</p>
        </div>
        <div class="col-sm-12 col-md-6">
          <p class="pt-5">Al pasar los años descubrí otro mundo, tuve mi primer computador a los 12 años aproximadamente gracias a un tío, que había renovado su equipo y yo patudamente le pregunte si me lo regalaba, ahí empezó mi fijación por la computación, me sentía seguro con mi computador y su mundo infinito. En la actualidad, me encuentro estudiando de forma autodidacta, ya que por cosas del destino congele mi carrera de Analista Programador, solo me faltan 9 ramos para terminar la carrera.</p>
          <p class="pt-5">Mi principal objetivo en este momento es poder <b>formar un equipo de trabajo</b> con jóvenes similares a mi,  apasionados por lo que hacen, no necesariamente tienen que ser expertos, pero deben tener ese hambre de conocimiento, que quieran cumplir sus metas y sueños, para que juntos podamos crear algo nuevo y distinto.</p>
        </div>
      </div>
      <h3 class="pt-2">Nuestro Equipo</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Cargo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Nicolas</td>
            <td>Lara</td>
            <td>Director Ejecutivo (CEO)</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>RRHH</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>Larry</td>
            <td>Psicologo</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container text-center p-5">
      <h3 class="pt-2">Requisitos para trabajar con nosotros</h3>
      <ul class="list-group"class="list-group pt-5">
        <li class="list-group-item">Ser curioso</li>
        <li class="list-group-item">Participativo</li>
        <li class="list-group-item">Creativo</li>
        <li class="list-group-item">Sentirte libre</li>
        <li class="list-group-item">Ser tu mismo</li>
      </ul>
      <ol class="list-group pt-5">
        <li>Vistete como quieras</li>
        <li>cuentanos sobre ti</li>
        <li>Bienvenido a la familia</li>
      </ol>
    </div>
    <!-- Comienzo de Footer -->
    <div class="bg-negro p-5 text-center text-white">
      <p>Copyright © 2021 www.sonsoart.com</p>
      <p>Powered by www.sonsoart.com</p>
    </div>
  </body>
  <script src="../js/jquery-3.5.1.slim.min.js"></script>
  <script src="../js/bootstrap.bundle.min.js"></script>
</html>