<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>SonsoArt</title>
  </head>
  <body>
    <!-- lo siguiente corresponde a la barra de navegacion -->
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-negro">
      <a class="navbar-brand" href="../index.html">
        <img src="../images/ImagotipoSonsoArt.png" alt="SonsoArt" width="30">
        SonsoArt
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">¿Quienes somos?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacto.html">Contacto</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Visión y Misión
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item active" href="../views/vision.html">Vision</a>
              <a class="dropdown-item" href="../views/mision.html">Mision</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </div>    
    <!--Banner principal -->
    </nav>
    <h1 class="bg-dark p-5 text-center text-white">Visión (Proximamente)</h1>
    <!-- Comienzo de Footer -->
    <div class="bg-negro p-5 text-center text-white">
      <p>Copyright © 2021 www.sonsoart.com</p>
      <p>Powered by www.sonsoart.com</p>
    </div>
  </body>
  <script src="../js/jquery-3.5.1.slim.min.js"></script>
  <script src="../js/bootstrap.bundle.min.js"></script>
</html>